<p><strong>★ My Quizz ★</strong></p>

{% block body %}
{% endblock %}

<p>Toute l'équipe My Quizz, à bientôt</p>
<img class="logo" src="{{ absolute_url(asset("media/kitten.jpg")) }}" alt="Logo My Quizz">
