<h1> ★ My Quizz ★ </h1>

{% block body %}
{% endblock %}

<p>(^◕ᴥ◕^) Toute l'équipe My Quizz, à bientôt ! </p>
<img class="logo" src="{{ email.image('email/media/kitten.jpg') }}" alt="Logo My Quizz">
