{% extends 'baseEmail.html.twig' %}

{% block body %}
{% set url = url('app_confirmation_email_register', {token: user.confirmationToken, user: user.id}) %}
<p>Confirm your account at <a href="{{ url }}">{{ url }}</a></p>
{% endblock %}